<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~basil.gohar/play/village/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~basil.gohar/play/village/index.php [L]
</IfModule>